@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

h2 {
  color: black;
}

body {
  background-color: rgb(23, 42, 58);
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: inline;

}

header .BigNavbar {
  background-color: rgb(80, 137, 145);
  color: rgb(225, 239, 230);
  font-size: 20px;
  padding: 60px;
  text-align: center;


}


header nav {
  background-color: rgb(0, 67, 70);
  padding: 5px;
  position: sticky;
  top: 0;


}

header nav ul {
  display: flex;
  justify-content: center;
  padding-inline: 4rem;
  gap: 3rem;

}

header nav li {
  list-style-type: none;

}

header nav a {
  color: rgb(225, 239, 230);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

header nav a:hover {
  font-weight: bold;
  color: rgb(216, 230, 221);
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}


aside {
  flex: 1;
}

aside a {
  margin: 10px;
}

main aside section img {
  width: 10%;
}

main aside section img:hover {
  opacity: 0.7;
}

footer {
  background-color: rgb(0, 67, 70);
  color: rgb(225, 239, 230);
  padding: 5px;
  text-align: center;
}

footer a {
  color: 225, 239, 230;
  text-decoration: none;
}

footer p span {
  color: #ff0000;
}


#content {
  flex: 4;
}

.circular {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo {
  width: 20%;
}

.poster {
  width: 20%;
}

.card {
  background-color: rgb(121, 155, 170);
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(209, 209, 209, 0.2);
  margin-top: 20px;
  padding: 20px;
}

.card header {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }

  main aside section a img {
    width: 5%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;

  }


  main #content,
  main aside {
    width: 100%;
    padding: 0;
  }

  main aside {
    align-items: flex-start;
  }

}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }

  .poster {
    width: 30%;
  }

}